:root {
    --primary-color:#1e8714;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.alert {
    position: fixed;
    top: 100px;
    right: 100px;
    background-color: rgb(236, 170, 95);
    font-size: 2rem;
    font-weight: 400;
    color: #84204b;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 2px solid #fff;
    animation: slideInLeft ease .3s, fadeOut linear 1s 3s forwards;
    cursor: default;
}

.alert.alert-success {
    background-color: #bbe3d1;
    color: #333;
}

.alert.alert-error {
    background-color: #f8c5c9;
}


@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
