body {
    margin: 0;
}

.banner-detail {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #3b6e9b;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.banner-detail__content {
    color: var(--white-color);
    font-size: 1.6em;
}

.banner-detail b {
    margin: 0 15px;
    font-size: 1.4em;
    color: rgba(255, 255, 255, 0.5);
}

.block-search {
    width: 100%;
    height: 500px;
    background-color: orange;
}

.house-picture {
    width: 100%;
    height: 360px;
    background-color: aqua;
    margin-bottom: 30px;
    position: relative;
    background-image: url(../img/dieu-kien-kinh-doanh-bat-dong-san.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.click-zoom{
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: 40px;
    width: 40px;
    text-decoration: none;
    border: solid 2px #a7aaaa;
    border-radius: 100%;
    text-align: center;
    line-height: 38px;
    color: #a7aaaa;
    cursor: pointer;
    font-size: 1em;
    background-color: transparent;
    transition: border 0.4s ease;
    transition: background-color 0.4s ease;
}

.click-zoom:hover {
    color: white;
    border: solid 2px var(--primary-color);
    background-color: var(--primary-color);
}

.discrip-button {
    display: flex;
    justify-content: flex-end;
}

.discrip-button button {
    outline: none;
    background-color: var(--white-color);
    border: solid 2px var(--primary-color);
    height: 35px;
    width: 60px;
    border-radius: 20px;
    color: var(--primary-color);
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 30px;
    cursor: pointer;
}

.house-description{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(213, 213, 213);
}

.house-description__topic{
    font-size: 1.5em;
}
.list-description {
    list-style: none;
    padding-left: 20px;
    margin: 20px 0;
    color: black;
    font-size: 1.4em;
    line-height: 25px;
}

.real-title {
    font-size: 1.9em;
    color: rgb(102, 101, 101)
}
.item-realestate{
    width: 100%;
    height: 200px;
    background-color: aqua;
    margin-top: 20px;
}

@media (max-width: 1023px) {
    .item-realestate {
        margin-top: 14px;
    }
}

@media (max-width: 739px) {
    .item-realestate {
        margin-top: 8px;
    }
    .house-detail{
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* .scroll-into-view {
    animation-name: scroll-animation;
    animation-duration: 0.5s;
  }

  @keyframes scroll-animation {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  } */

/* .modal11 {
    display: flex;
} */
  .modal11__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .modal11__body{
    width: 700px;
    height: 430px;
    margin:auto;
    position: relative;
    background-image: url(../img/dieu-kien-kinh-doanh-bat-dong-san.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 3;
  }

  .modal11__exit {
    position: absolute;
    z-index: 3;
    color: rgb(255, 255, 255, 0.7);
    font-size: 2em;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  .modal11{
    z-index: 10;
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3);
}

/* new css */
.house-information {
    width: 100%;
    height: 300px;
}

.house-description__topic {
    padding-top: 10px;
}

@media (max-width : 739px) {
    .house-information {
        margin-top: 15px;
    }
}

.info-topic {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info-topic > span {
    color: #636262;
    font-size: 2.6em;
    line-height: 36px;
    font-weight: 1000;
}

.info-block {
    width: 100%;
    height: 4px;
    margin: 15px 0;
}

.block-distance {
    width: 30px;
    height: 4px;
    background-color: rgba(194, 193, 193,0.7);
}

.info-detail {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.info-house-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.house-list__topic {
    color: var(--primary-color);
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.house-list__item {
    margin: 5px 0;
    font-size: 1.3em;
}
.house-list__item > i {
    color: var(--primary-color);
    margin-right: 10px;
}

.house-list__item > span {
    line-height: 24px;
    font-size: 1.2em;
    color: var(--text-color);
}

.house-list__item > span > sup {
    font-size: 0.7em;
}


